@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Inter:wght@300&display=swap');

body {
  background: linear-gradient(360deg, #e7dada, #d2ced9cc);
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

h1, h2, h3, h4, h5 {
  font-family: 'Archivo', sans-serif;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.app {
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.text-input {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding: 1rem;
  align-items: center;
  background-color: #444343;
  border-bottom: 2px solid white;
}

.eventListAll {
  width: 40%;
  text-align: center;
  padding: 2rem;
}

.event {
  margin-bottom: 40px;
  box-shadow: 10px 12px 36px;
}

.event-description {
  padding: 20px;
}

.overlayInfo {
  background: #000000c2;
  width: 100%;
  position: absolute;
  left: 0;
  height: 100%;
  color: white;
  z-index: 3;
  display: flex;
}

.hideOverlayInfo {
  display: none;
}

.overlayHeader {
  transition-duration: .5s;
  width: 50%;
  text-align: center;
  position: absolute;
  right: 25%;
  bottom: 40%;
}

.overlayCloseButton {
  position: absolute;
  right: 10%;
  bottom: 94%;
}

.onExitButton {
  cursor: pointer;
  color: red;
}

.onExitButton:hover {
  color: white;
}

.onExitButton:active {
  color: blue;
}

.footerbar {
  background-color: #0070e9;
  width: 100%;
  height: 100px;
  border-top: 2px solid white;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
}

@media only screen and (max-width: 992px) {

  .eventListAll {
    width: 100%;
    z-index: 0;
  }
  
  .EventList {
    position: relative;
    top: 20%;
  }

  .overlayHeader {
    width: 95%;
    text-align: center;
    position: absolute;
    right: 2%;
    bottom: 30%;
  }
}